*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 200px;
  width: 200px;
    border: 1px solid black;
    
}


@media screen and (max-width: 500px){
    .box{
        display: none;
    }
}